<!--main section start-->
<main id="main" class="main">
	
    <section class="navbar-inverse bg-primary well-sm clearfix">
      <div class="container">
        <div class="col-sm-9">
          <div class="media">
				<profile-image user-image-hash='$root.auth.user_image_hash' user-display-name='{{$root.auth.displayname}}' user-profile-id='$root.auth.id' ng-if='$root.auth' user-profile-thumb='medium_thumb' logged-user ='yes'></profile-image>
            <div class="media-body well-sm">
				<profile-name  user-display-name='$root.auth.displayname' user-profile-id='$root.auth.id' ng-if='$root.auth' logged-user ='yes'></profile-name>
            </div>
          </div>
        </div>
        <div class="col-sm-3 navbar-btn"> 
			<a href="#!/users/edit-profile" title="{{'Edit Profile'|translate}}" class="btn btn-primary pull-right">{{'Edit Profile'|translate}}</a>
		</div>
      </div>
    </section>
	<section class="navbar-default">
      <div class="container">
        <div class="text-center">
          <ul class="list-inline navbar-btn">
            <li class="h6"><a href="#!/my-courses/learning" title="{{'Learning'|translate}}" class="h5">{{'Learning'|translate}}</a></li>
            <li class="h6" ng-if="$root.settings['site.enabled_plugins'].indexOf('CourseWishlist') > -1"><a href="#!/my-courses/wishlist" title="{{'Wishlist'|translate}}" class="h5">{{'Wishlist'|translate}}</a></li>
			<li class="h6"><a href="#!/users/edit-profile" title="{{'Edit Profile'|translate}}" class="h5">{{'Edit Profile'|translate}}</strong></a></li>
			<li class="h6 active"><a href="#!/users/change_password" title="{{'Change Password'|translate}}" class="h5"><strong>{{'Change Password'|translate}}</strong></a></li>
          </ul>
        </div>
      </div>
    </section>
	<section class="navbar navbar-default clearfix">
      <div class="container">
        <div class="clearfix">
		  <div class="col-xs-12 navbar-btn">
			<form class="form-horizontal" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user);changePasswordForm.$setPristine()">
				<fieldset>
					<legend>{{'Change Password'|translate}}</legend>
					<div class="form-group" ng-class="{ 'has-error' : changePasswordForm.old_password.$invalid && changePasswordForm.old_password.$dirty }">
						<label class="col-sm-2 control-label" for="old_password">{{'Current Password'|translate}}</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" name="old_password" id="old_password"  ng-model="user.old_password" placeholder="{{'Current Password'|translate}}" required />
							<div class="help-block text-danger" ng-if="changePasswordForm.old_password.$dirty" ng-messages="changePasswordForm.old_password.$error">
							  <div ng-message="required">{{'Required'|translate}}.</div>
							</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : changePasswordForm.new_password.$invalid && changePasswordForm.new_password.$dirty }">
						<label class="col-sm-2 control-label" for="new_password">{{'New Password'|translate}}</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" minlength="5" name="new_password" id="new_password" ng-model="user.new_password" placeholder="{{'New Password'|translate}}" required />
							<div class="help-block text-danger" ng-if="changePasswordForm.new_password.$dirty" ng-messages="changePasswordForm.new_password.$error">
							  <div ng-message="required">{{'Required'|translate}}.</div>
							  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
							</div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirm_new_password.$invalid && changePasswordForm.confirm_new_password.$dirty }">
						<label class="col-sm-2 control-label" for="confirm_new_password">{{'Confirm New Password'|translate}}</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" minlength="5" name="confirm_new_password" id="confirm_new_password" ng-model="user.confirm_new_password" data-match="user.new_password" placeholder="{{'Confirm New Password'|translate}}" required />
							<div class="help-block text-danger" ng-if="changePasswordForm.confirm_new_password.$dirty" ng-messages="changePasswordForm.confirm_new_password.$error">
							  <div ng-message="required">{{'Required'|translate}}.</div>
							  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
							  <div ng-message="match">{{'Password and confirm password must be same'|translate}}.</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="panel well-sm navbar-btn list-group-item-text list-group-item-heading clearfix">
							<div class="pull-right">
								<label class="sr-only" for="submit2">{{'Change Password'|translate}}</label>
								<button type="submit" id="submit2" ng-disabled="changePasswordForm.$invalid || disableButton" class="btn btn-primary btn-lg">{{'Change Password'|translate}} <span ng-show="disableButton"><i class="fa fa-spinner fa-pulse fa-lg"></i></span></button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		  </div>
        </div>
      </div>
    </section>
</main>
