<!--main section start-->
  <main id="main" class="main">
    <section>
      <div id="banner-bg-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active"> <img src="assets/img/bg-banner.png" alt="[Image: {{'Bg-blue-banner'|translate}}]"   title="{{'Bg-blue-banner'|translate}}">
            <div class="carousel-caption">
              <div class="col-sm-9">
                <div class="media">
                  <div class="pull-left"> <img src="assets/img/Userlogo-leaf.png" alt="[Image: {{'Userlogo-leaf'|translate}}]"   title="{{'Userlogo-leaf'|translate}}"> </div>
                  <div class="media-body well-sm">
                    <div class="media-heading">
                      <div class="text-left">
                        <h3 class="h4"><strong>{{'venkatesh devasenathipathy'|translate}}</strong> <span class="text-muted"><small> @{{'venkatesh.d'|translate}}</small></span></h3>
                        <a href="#" title="{{'Add your bio'|translate}}"><span class="text-muted">{{'Add your bio'|translate}}</span></a>
                        <div class="clearfix"> <a href="#" title="{{'Add your location'|translate}}"><small class="text-muted">{{'Add your location'|translate}}</small></a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3"> <a href="#" title="{{'Edit Profile'|translate}}" class="btn btn-link btn-lg"><span class="text-info"><small>{{'Edit Profile'|translate}}</small></span></a>
                <div class="well-lg"></div>
                <ul class="list-inline">
                  <li class="label label-default"><span class="text-danger">0</span></li>
                  <li class="label label-info">0</li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                  <li><a href="#" title="0" class="text-muted"><small>0</small></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="navbar-default">
      <div class="container">
        <div class="text-center">
          <ul class="list-inline navbar-btn">
            <li class="active h6"><a href="#" title="{{'Home'|translate}}" class="h5"><strong>{{'Home'|translate}}</strong></a></li>
            <li class="h6"><a href="#" title="{{'Profile'|translate}}" class="h5">{{'Profile'|translate}}</a></li>
            <li class="h6"><a href="#" title="{{'Badges'|translate}}" class="h5">{{'Badges'|translate}}</a></li>
            <li class="h6"><a href="#" title="{{'Progress'|translate}}" class="h5">{{'Progress'|translate}}</a></li>
            <li class="h6"><a href="#" title="{{'Discussion'|translate}}" class="h5">{{'Discussion'|translate}}</a></li>
            <li class="h6"><a href="#" title="{{'Projects'|translate}}" class="h5">{{'Projects'|translate}}</a></li>
            <li class="h6"><a href="#" title="{{'Coaches'|translate}}" class="h5">{{'Coaches'|translate}}</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="container-fluid well">
      <div class="col-xs-12">
        <div class="col-md-6 col-md-offset-1">
          <div class="well-lg"></div>
          <p class="h5 text-muted"><span class="initialism">{{'Currently  working on'|translate}}</span></p>
          <div class="navbar-btn clearfix"></div>
          <div class="navbar-btn clearfix"></div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-md-4 col-md-offset-1 col-sm-7">
          <div class="panel panel-default">
            <div class="navbar-btn clearfix list-group-item-heading"></div>
            <div class="media list-group-item-heading">
              <div class="pull-left"><img src="assets/img/Earlymath.png" alt="[Image: {{'Earlymath'|translate}}]"   title="{{'Earlymath'|translate}}" class="img-circle"></div>
              <div class="media-body navbar-btn col-md-7 col-sm-7 col-xs-12">
                <div class="col-xs-12">
                  <div class="clearfix">
                    <div class="pull-left">
                      <div class="text-muted"><small>{{'Math'|translate}}</small></div>
                    </div>
                    <div class="pull-right">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                  </div>
                  <div class="media-heading"> <a href="#" title="{{'Early math'|translate}}" class="h5"><strong>{{'Early math'|translate}}</strong></a> </div>
                  <div class="well-sm"></div>
                  <a href="#" title="0% mastered" class="text-info h6">0% mastered</a>
                  <div class="clearfix"> <a href="#" title="0/97 {{'skills completed'|translate}}" class="text-muted"><small>0/97 {{'skills completed'|translate}}</small></a> </div>
                  <div class="well-sm"></div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="text-center"> <a href="#" title="{{'Start'|translate}}" class="btn btn-link"><span class="text-info">{{'Start'|translate}}</span></a> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-md-11 col-md-offset-1">
          <div class="well-lg"></div>
          <p class="h5 text-muted"><span class="initialism">{{'Recommended Content'|translate}}</span></p>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1">
        <div class="navbar-btn clearfix"></div>
        <div class="col-sm-3 clearfix col-md-2 col-xs-12">
          <div class="panel"> <img src="assets/img/Pixar-in-a-box.png" alt="[Image: Pixar-in-a-box]"   title="Pixar-in-a-box" class="img-responsive center-block">
            <hr class="list-group-item-heading list-group-item-text">
            <div class="well-sm">
              <p class="h6">{{'Pixar in a box'|translate}}</p>
              <p class="h5">{{'Pixar artists reveal the math behind their movies!'|translate}}</p>
              <div class="navbar-btn clearfix"></div>
              <div class="navbar-btn clearfix hidden-sm"></div>
              <div class="well-sm visible-sm"></div>
              <div class="navbar-btn clearfix  visible-md"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 clearfix col-md-2 col-xs-12">
          <div class="panel"> <img src="assets/img/thelearningmyth.png" alt="[Image: {'Thelearningmyth'|translate}}]"   title="{{'Thelearningmyth'|translate}}" class="img-responsive center-block">
            <div class="well-sm">
              <p class="h6">{{'The learning myth'|translate}}</p>
              <p class="h5">{{'Sal explains the science that\'s shown us that your brain grows through struggle.'|translate}}</p>
              <div class="navbar-btn clearfix  visible-md"></div>
              <div class="navbar-btn clearfix  visible-md list-group-item-heading"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 clearfix col-md-2 col-xs-12">
          <div class="panel"> <img src="assets/img/you-can-learn-anything.png" alt="[Image: {{'You-can-learn-anything'|translate}}]" title="{{'You-can-learn-anything'|translate}}" class="img-responsive center-block">
            <div class="well-sm">
              <p class="h6">{{'You Can Learn Anything'|translate}}</p>
              <p class="h5 list-group-item-text">{{'We\'re on a mission to unlock the world\'s potential. It starts with this video.'|translate}}</p>
              <div class="navbar-btn clearfix visible-sm"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 clearfix col-md-2 col-xs-12">
          <div class="panel"> <img src="assets/img/Recreationmath.png" alt="[Image: {{'Recreationmath'|translate}}]" title="{{'Recreationmath'|translate}}" class="img-responsive center-block">
            <hr class="list-group-item-heading list-group-item-text">
            <div class="well-sm">
              <p class="h6 text-info">{{'Recreational math'|translate}}</p>
              <p class="h5 list-group-item-text">{{'Brain teaser: How many unique paths can Hopper take to get to the star? (No diagonal moves.)'|translate}}</p>
              <div class="navbar-btn clearfix visible-sm"></div>
            </div>
          </div>
        </div>
        <div class="well-lg clearfix"></div>
        <div class="well-lg clearfix"></div>
      </div>
    </section>
  </main>
  <!--main section End-->