<!--main section start-->
<main id="main" class="main">
<section>
  <div id="banner-carousel">
	<carousel interval="myInterval" class="slide" no-wrap="noWrapSlides">
		<slide active="active" >
			<img src="assets/img/slide1.png" alt="[Image: {{'Background-Learner'|translate}}]"  class="img-responsive center-block">			
		</slide>
		<slide active="" index="slide.id" >
			<img src="assets/img/slide2.png" alt="[Image: {{'Background-Learner'|translate}}]"  class="img-responsive center-block">			
		</slide>
		<div class="carousel-caption">
			  <div class="text-center">
				<h4 class="h2"> {{'You only have to know one thing:'|translate}} </h4>
				<h2 class="h1 navbar-btn"><strong>{{'You can learn anything'|translate}}</strong></h2>
				<div class="well-sm"></div>
				<h3 class="h4">{{'For free. For everyone. Forever.'|translate}}</h3>
				<div class="well-sm"></div>
				<ul class="list-unstyled">
				  <li class="navbar-btn"><a href="#!/courses" title="{{'Start learning now'|translate}}" class="btn btn-primary btn-lg">{{'Start learning now'|translate}}</a></li>
				  <li class="navbar-btn"><a href="#!/users/signup"  title="{{'Teachers, start here'|translate}}" class="btn btn-link btn-lg fa-inverse"><strong>{{'Teachers, start here'|translate}}</strong></a>
				 </li>
				  <li class="navbar-btn"><a href="#!/users/signup" title="{{'Parents, start here'|translate}}" class="btn btn-link btn-lg fa-inverse"><strong>{{'Parents, start here'|translate}}</strong></a></li>
				</ul>
				<div class="well-sm hidden-xs"></div>
				</div>
			  <div class="navbar-right"><span class="h4 navbar-btn list-group-item-heading"> {{'Learn more about'|translate}}  <img src="assets/img/you-can.png" alt="[Image: {{'You-Can'|translate}}]"   title="{{'You-Can'|translate}}" class="img-responsive center-block" width="158"> </div>
			</div>
	</carousel>		
  </div>
</section>
<section class="bg-info bg-primary clearfix"><div class="container-lg">
  <div class="well-lg"></div>
  <div class="col-md-4 col-sm-5">
	<div class="col-xs-12">
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg navbar-btn hidden-xs hidden-sm hidden-md"></div>
	  <div class="h2 list-group-item-text hidden-xs">{{'Take control of your learning by working on the skills you choose at your own pace with free online courses.'|translate}}</div>
	  <div class="well-lg visible-xs"></div>
	  <div class="well-sm visible-xs">
		<p class="h3 list-group-item-text text-center visible-xs">{{'Take control of your learning by working on the skills you choose at your own pace with free online courses.'|translate}}</p>
	  </div>
	  <div class="well-lg visible-xs"></div>
	</div>
  </div>
  <div class="col-md-4 col-sm-3">
	<div class="row">
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg hidden-sm"></div>
	  <div class="well-lg  hidden-sm hidden-xs hidden-md"></div>
	  <img src="assets/img/Masterd.png" alt="[Image: {{'Masterd'|translate}}]" title="{{'Masterd'|translate}}" class="img-responsive center-block"> </div>
  </div>
  <div class="col-md-4 col-sm-4">
	<div class="row"> <img src="assets/img/Algerba.png" alt="[Image: {{'Algerba'|translate}}]" title="{{'Algerba'|translate}}" class="img-responsive center-block"> </div>
  </div>
  <div class="well-lg clearfix"></div>
  <div class="well-sm"></div>
  </div>
</section>
<section class="bg-success bg-primary clearfix">
	<div class="container-lg">
  <div class="well-sm"></div>
  <div class="col-sm-8">
	<div class="row"> <img src="assets/img/GraphMastred.png" alt="[Image: {{'GraphMastred'|translate}}]" title="{{'GraphMastred'|translate}}" class="img-responsive center-block"> </div>
  </div>
  <div class="col-sm-4">
	<div class="col-xs-12">
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg hieedn-xs hidden-sm"></div>
	  <div class="well-lg hidden-xs hidden-sm"></div>
	  <div class="well-lg hidden-xs hidden-sm hidden-md"></div>
	  <div class="well-lg hidden-xs hidden-sm hidden-md"></div>
	  <h4 class="h3 list-group-item-heading hidden-xs">{{'Sharpen your skills with over 100,000 interactive exercises.'|translate}}</h4>
	  <div class="well-lg visible-xs"></div>
	  <div class="well-sm visible-xs">
		<p class="visible-xs text-center h3">{{'Sharpen your skills with over 100,000 interactive exercises.'|translate}}</p>
	  </div>
	  <div class="well-lg visible-xs"></div>
	  <div class="well-lg visible-xs"></div>
	</div>
  </div>
  <div class="well-sm clearfix"></div>
  <div class="navbar-btn list-group-item-text clearfix"></div></div>
</section>
<section class="clearfix">
  <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
	  <div class="item active"> <img src="assets/img/Homepage-Background.png" alt="[Image: {{'Homepage-Background'|translate}}]"  title="{{'Homepage-Background'|translate}}" class="img-responsive center-block">
		<div class="carousel-caption">
		  <div class="text-center">
			<h3 class="h1">{{'Math'|translate}}, {{'science'|translate}}, {{'computer programming'|translate}}, {{'history'|translate}}, {{'art'|translate}}, {{'economics'|translate}}, {{'and '|translate}} {{'more'|translate}} {{' free online classes.'|translate}} </h3>
			<div class="well-sm"></div>
			<a href="#!/courses" title="{{'Start learning now'|translate}}" class="btn btn-link"><span class="h3">{{'Start learning now'|translate}}</span> </a> </div>
		</div>
	  </div>
	</div>
  </div>
</section>
<section class="bg-success bg-primary">
  <div class="container">
	<div class="well-lg"></div>
	<div class="well-lg"></div>
	<div class="text-center">
	  <h3 class="h1">{{'For free. For everyone. Forever.'|translate}}</h3>
	  <div class="well-sm"></div>
	  <div class="col-xs-12">
		<p class="h4 col-sm-6 col-sm-offset-3"> {{'No ads, no subscriptions. We are a not‑for‑profit because we believe in a free, world-class education            for anyone, anywhere.'|translate}}</p>
	  </div>
	  <div class="well-sm"></div>
	  <a ng-href="#!/courses" title="{{'Start learning now'|translate}}" class="btn btn-link"><span class="h3">{{'Start learning now'|translate}}</span></a> </div>
  </div>
  <div class="well-lg"></div>
  <div class="well-lg"></div>
</section>
<div banner position="topBanner" ng-if="$root.settings['site.enabled_plugins'].indexOf('Banner') > -1"></div>
</main>
<!--main section End-->